{% extends "base.html" %} 

{% block title %} 
    Cell size
{% endblock %}

{% block content %}
<!-- Banner -->
<div id="banner-content">
    <div class="banner-desktop"><!-- Desktop banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_1.jpg') }}"
             alt="CyanoTools analytical tools for algae and cyanobacteria"
             style="width: 100%;">
    </div>
    <div class="banner-mobile"><!-- Mobile banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_2.jpg') }}"
             alt="CyanoTools mobile banner"
             style="width: 100%;">
    </div>
</div>
<br>
<h1> Cell size analysis - round cells</h1>
<p>Welcome to the app for analyzing cell size — a fast and easy way to measure size of unicellular algae or cyanobacteira in fluorescence microscopy images.
    This tool is optimized for images captured with a confocal fluorescence microscope and is designed specifically for analyzing round or near-spherical cells.
    Individual cells are selected manually by the user. Once selected, the tool identifies cell boundaries and calculates the cell diameter based on the pixel size provided.
</p>
<p>The following example illustrates the full workflow using TCS SP8 DMI 
    <a href="https://www.leica-microsystems.com/products/confocal-microscopes/" target="_blank">confocal laser scanning microscope</a> 
     (Leica Microsystems) and cells of a unicellular cyanobacterium <i>Synechocystsis</i> sp. PCC 6803.
</p>
<div class="container">
    <img src="static/images/workflow_cell_size_round_cells.jpg" 
    alt="Pixel_profiles_cell_selection" class="gallery__img_tall" 
    data-enlargeable style="cursor: zoom-in; width: 75%">
</div> 
<p><u>How to use this tool:</u></p>
<ol>
    <li>Enter the pixel size </li>
    <li>Upload your image</li>
    <li>Mark the cells – manually select round cells on your image for analysis.</li>
    <li>Confirm selection and analyze size of the selected cells</li>
    <li>Read and/or download the results</li>
</ol> 
<br>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('cell_size_round_cells.analyze_cell_size') }}">
    <div class="form-group">
        <p><b>1. Enter pixel size (nm)</b></p>
        <input  
            type="number"
            id="pixel_size" 
            class="form-control"
            name="pixel_size"
            value=""
            step="0.01"/>
        <br>
        <p><b>2. Select your image</b></p>
        <div class="custom-file">
            <input 
                type="file" 
                class="custom-file-input" 
                name="image"
                id="image"
                style="width:100%"
                accept=".png, .jpg, .jpeg, .tif, .tiff, .bmp, .gif">
            <label class="custom-file-label" id="show-image-button" for="customFile">Select files</label>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Upload image and select individual cells</button>
    <a href="{{url_for('static', filename='images/round_cells_example.jpg')}}" download="example_image">
        <button type="button" class="btn btn-outline-primary">Download an example image</button>
    </a>
</form>
<br>

{% if img_orig_decoded_from_memory %} 
    <a><b>3. Select cells</b></a>
    <p> To select cells for cell size analysis, simply start clicking on the image below. 
    For the best performance, it is recommended to adjust the size of the selection circles 
    to cover the entire area of each cell and surrounding. 
    If no cells are detected, please repeat the selection.
    Size of the selection circles can be adjusted using the slider below.</p>
    <br>
    <p><b>4. Adjust size of selection circles</b></p>
    <div class="container">
        <div class="gallery_sliders_pixel_profile">
            <span STYLE="font-size:9.5pt">1</span>
            <div class="slidecontainer">
                <input type="range" 
                min="1" max="250" 
                value="50"
                step="1"  
                class="slider" 
                name="expected_cell_size_range"
                id="expected_cell_size_range"/>
            </div>
            <span STYLE="font-size:9.5pt">250</span>
            <p>Selected cell diameter (px): <span id="expected_cell_size"></span></p>
        </div>
    </div>

    <p>Specified pixel size: <b>{{ pixel_size_nm }} nm</b>

    <div class="imgbox" id="imgbox">
            <div class="insideWrapper">
                <img src="data:image/jpeg;base64,{{ img_orig_decoded_from_memory }}" class="center-fit" id="img_orig_decoded_from_memory">
                <canvas class="coveringCanvas" id="canvas_mouse_clicking">
                </canvas>
            </div>
    </div>
    <br>
    <a><b>5. Confirm selection of the cells and analyze the pixel profiles</b></a>
    <p>In case some pixel profiles are ploted from your last analysis, simply refresh the page.</p>
    <br>
    <a href="{{ url_for('cell_size_round_cells.analyze_cell_size') }}">
        <button onClick="window.location.reload(true); return false;" type="submit" class="btn btn-primary">Confirm selection and start analysis</button>
    </a>
    <br>
    <br>
    <br>
    <a><b>6. Visually confirm the results</b> (click on the images below to enlarge)</a>
    <p>In case the cells have not been marked according to your selection, make a new selection and adjust size of the selecting circles. </p>
    <div class="insideWrapper">
        <img data-enlargeable src="data:image/jpeg;base64,{{ img_for_download_decoded_from_memory }}" style="cursor: zoom-in" class="center-fit" width="45%" >
        <img data-enlargeable src='data:image/jpeg;base64,{{ final_plot_decoded_from_memory }}' style="cursor: zoom-in" class="center-fit" width="49%" >
    </div>

    <br>
    <p><b>7. Download the cell size results as .xlsx file</b></p>
    <a href="{{ url_for('static', filename=xlsx_file_path)}}">
        <button type=" download" class="btn btn-success">Download the results</button>
    </a>

{% else %}
<br><br><br><br><br><br><br>
    
{% endif %}
<br><br><br><br><br><br><br>

<script src="{{url_for('static', filename='js_cell_size_round_cells.js')}}" defer></script>

{% endblock %}