{% extends "base.html" %} 

{% block title %} 
    Cell counting - filamentous strains
{% endblock %}

{% block content %}
<!-- Banner -->
<div id="banner-content">
    <div class="banner-desktop"><!-- Desktop banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_1.jpg') }}"
             alt="CyanoTools analytical tools for algae and cyanobacteria"
             style="width: 100%;">
    </div>
    <div class="banner-mobile"><!-- Mobile banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_2.jpg') }}"
             alt="CyanoTools mobile banner"
             style="width: 100%;">
    </div>
</div>
<br>
<h1>Cell counting - filamentous strains</h1>
<p>Welcome to the cell counting tool - a simple and efficient solution for counting cells in fluorescence microscopy images.
This tool automatically detects filamentous algae or cyanobacteria in a fluorescence microscopy image, segments filaments into individual cells, 
and counts all cell within all identified filaments. 
The tool is optimized for images captured by a fluorescence microscope and supports cell counting from images captured
 in a Bürker chamber, hemocytometer, or any disposable counting slide of known depth. 
Any combination of a fluorescence microscope and a cell counting chamber is suitable for use with this application.</p>
<a>The following example illustrates the full workflow using Nexcellom 
    <a href="https://www.nexcelom.com/nexcelom-products/cellometer-disposable-counting-chambers/" target="_blank">cell counting slides</a> and Zeiss
    <a href="https://www.zeiss.com/microscopy/en/products/light-microscopes/widefield-microscopes/axio-imager-2-for-life-science-research.html" target="_blank">fluorescence microscope</a>:</a>
<br><br>
<div class="container">
    <img src="static/images/worflow_cell_counting_filaments.jpg" alt="Cell counting workflow" class="gallery__img__tall"
    data-enlargeable style="cursor: zoom-in">
</div>
<p><u>How to use this tool:</u></p>
<ol>
    <li>Enter pixel size</li>
    <li>Select threshold filter</li>
    <li>Enter additional parameters:</li>
    <ul>
        <li>Depth of the microscopy chamber</li>
        <li>Minimum cell diameter (smaller objects will be ingnored)</li>
        <li>Number of iterations (controls how many times the algorithm splits identified objects into smaller ones) </li>
        <li>Threshold factor (defines whether a newly identified cell is considered part of an already detected cell)</li>
        <li>Distance factor (sets the minimum center-to-center distance between cells within a filament) </li>
    </ul>
    <li>Select image</li>
    <li>Identify and count individual cells within filaments</li>
    <li>Read and/or download the results</li>
    <br>
    <li>Optional: If some cells were not detected automatically, you can manually add them by clicking on the image.</li>
</ol> 
<br>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('cell_count_filament.count_filament_cells') }}">
    <div class="form-group">
    <label for="pixel_size"><p class="font-weight-bold">{{ '1. Enter pixel size (nm)' }}</p></label>
        <input  
           type="number"
           id="pixel_size" 
           class="form-control"
           name="pixel_size"
           value=""
           step="0.01"
        />
    </div>
    <br>
    <p><b>2. Select threshold filter</b></p>
    <div class="form-group">
        <select name="threshold_filter" class="form-control" style="width:100%">
            <option selected="Binary + Otsu">Binary + Otsu</option>
            <option value="Triangle + Binary">Triangle + Binary</option>
            <option value="To zero + Triangle">To zero + Triangle</option>
            <option value="Binary">Binary</option>
            <option value="To zero">To zero</option>
            <option value="Triangle">Triangle</option>
            <option value="Otsu">Otsu</option>
        </select>
    </div>
    <br>
    <div class="form-group">
    <p><b>3. Adjust additional parameters</b></p>
    <div class="form-group">
        <div class="gallery_sliders_filaments">
            <span STYLE="font-size:9.5pt">10</span>
            <div class="slidecontainer">
                <input type="range" 
                        min="10" max="1000" 
                        value="120" 
                        class="slider" 
                        name="chamber_depth_range"
                        id="chamber_depth_range"/>
            </div>
            <span STYLE="font-size:9.5pt">1000</span>
            <p>Depth of the counting chamber (µm): <span id="chamber_depth"></span></p>

            <span STYLE="font-size:9.5pt">0.5</span>
            <div class="slidecontainer">
                <input type="range" 
                min="0.5" max="30.0" 
                value="1.0"
                step="0.1"  
                class="slider" 
                name="minimal_diameter_range"
                id="minimal_diameter_range"/>
            </div>
            <span STYLE="font-size:9.5pt">30</span>
            <p>Minimal expected cell diameter (µm): <span id="minimal_diameter"></span></p>

            <span STYLE="font-size:9.5pt">1</span>
            <div class="slidecontainer">
                <input type="range" 
                min="1" max="20" 
                value="4" 
                class="slider" 
                name="iterations_range"
                id="iterations_range"/>
            </div>
            <span STYLE="font-size:9.5pt">20</span>
            <p>Number of iterations: <span id="number_of_iterations"></span></p>

            <span STYLE="font-size:9.5pt">0.1</span>
            <div class="slidecontainer">
                <input type="range" 
                min="0.1" max="2.0" 
                value="1.4" 
                step="0.1" 
                class="slider" 
                name="factor_1_multiplication_range"
                id="factor_1_multiplication_range"/>
            </div>
            <span STYLE="font-size:9.5pt">2.0</span>
            <p>Threshold factor: <span id="factor_1_multiplication"></span></p>

            <span STYLE="font-size:9.5pt">1</span>            
            <div class="slidecontainer">
            <input type="range" 
                min="1" max="100" 
                value="28" 
                class="slider" 
                name="factor_2_distance_range"
                id="factor_2_distance_range"/>
            </div>
            <span STYLE="font-size:9.5pt">100</span>
            <p>Distance factor: <span id="factor_2_distance"></span></p>  
        </div>
    </div>
    <p><b>4. Select image </b>
    <br>Recommended image resolution is around to 2000 x 2000 px. In case your image is too high resolution, 
    please use any available tool for image splitting, for instance <a href="https://imagestool.com/split-images" target="_blank">imagestool</a> or <a href="https://pinetools.com/split-image" target="_blank">pinetools</a>. </p></label>
    <div class="custom-file">
        <input 
            type="file" 
            class="custom-file-input" 
            name="selected_images"
            id="selected_image"
            style="width:100%"
            multiple=""
            accept=".png, .jpg, .jpeg, .tif, .tiff, .bmp, .gif">
        <label class="custom-file-label" for="customFile">Select files</label>
    </div>
    <br>
    <br>
    <button id="show-image-button" type="submit" class="btn btn-primary">Split the filaments and count individual cells</button>
    <a href="{{url_for('static', filename='images/cells_filamentous_example.jpg')}}" download="example_image">
        <button type="button" class="btn btn-outline-primary">Download an example image</button>
    </a>
    <br>
    </div>
</form>
<br>
<div class="container">
    <img id="loadingimage" src="{{url_for('static', filename='images/loadingimage.gif')}}" style="display: none;">
</div>

<br>
{% if img_orig_decoded_from_memory %}
    <script> 
        var cell_conc_autom_million_cells_per_ml = {{ million_cells_per_mL }};
        var volume_imaged_area = {{ img_volume_ml }};
        var image_area = {{ img_area_mm2 }};
        var chamber_depth_um = {{ depth_um }};
        var cells_counted_autom = {{ cell_count }};
        var pixels_x = {{ x_pixels }};
        var pixels_y = {{ y_pixels }};
        var size_of_pixel = {{ pixel_size_nm }};
    </script>

    <br>
    <p><h3>Cell count: <span id="cell_conc_corrected"></span>  x 10<sup>6</sup> cells mL<sup>-1</sup> </h3></p>
    <br>
    <br>
    <p><b>Select size of the marking circle (in pixels, can be changed dynamically)</b></p>
    <div class="container">
        <div class="gallery_sliders_pixel_profile">
            <span STYLE="font-size:9.5pt">1</span>
            <div class="slidecontainer">
                <input type="range" 
                min="1" max="250" 
                value="10"
                step="1"  
                class="slider" 
                name="expected_cell_size_range"
                id="expected_cell_size_px_range"/>
            </div>
            <span STYLE="font-size:9.5pt">250</span>
            <p>Diameter of marking circle (px): <span id="expected_cell_size_px"></span></p>
        </div>
    </div>
    <br>
    <div class="imgbox">
        <figcaption>Identified cells (for visualization, <i>To zero</i> and <i>Triangle</i> thresholds are combined). To manually identify missed cells, start clicking on the image below.</figcaption>
        <div class="imgbox" id="imgbox">
            <div class="insideWrapper">
                <img src="data:image/jpeg;base64,{{ img_counted_decoded_from_memory }}" class="center-fit" id="Identified_cells" alt="Identified cells">
                <canvas class="coveringCanvas" id="canvas_mouse_clicking">
                </canvas>
            </div>
        </div>
    </div>
    <br>
    <p>Cell count without manual correction: {{ million_cells_per_mL }}  x 10<sup>6</sup> cells mL<sup>-1</sup></p>
    <p>Identified cells (by the cell-counting script): {{ cell_count }}</p>
    <p>Additionally identified cells (manual correction): <span id="identified_cells"></span></p>
    <p>Image resolution: {{ x_pixels }} x {{ y_pixels }} pixels </p>
    <p>Image area: {{ img_area_mm2  }} mm<sup>2</sup> ({{ x_um }} x {{ y_um }} µm)</p>
    <p>Volume of the imaged area: {{ img_volume_nl }} nL</p>
    <p>Pixel size: {{ pixel_size_nm }} nm 
    / Depth of the chamber: {{ depth_um }} µm 
    / Minimal cell size: {{ minimal_expected_size }} µm</p>
    <br>
    <b>Click to enlarge:</b>
    <br> 
    <div class="container">
        <div class="gallery">
            <a>Counted cells</a>
            <a>Thresholded image (<i>{{ threshold }}</i>)</a>
            <a>Original image</a>
        </div>
    </div>
    <div class="container">
        <div class="gallery">
            <img data-enlargeable style="cursor: zoom-in" src="data:image/jpeg;base64,{{ img_counted_decoded_from_memory }}" class="gallery__img gallery__item--1">
            <img data-enlargeable style="cursor: zoom-in" src="data:image/jpeg;base64,{{ img_th_decoded_from_memory }}" class="gallery__img gallery__item--2">
            <img data-enlargeable style="cursor: zoom-in" src="data:image/jpeg;base64,{{ img_orig_decoded_from_memory }}" class="gallery__img gallery__item--3">
        </div>
    </div>

{% else %}
<br><br><br><br><br><br><br>

{% endif %}

<br><br><br><br><br><br><br>

<script src="{{url_for('static', filename='js_cell_count_filament.js')}}"></script>

{% endblock %}