{% extends "base.html" %} 

{% block title %} 
    Cell counting - filament
{% endblock %}

{% block content %}
<h1>Cell counting - filamentous strains</h1>
<br>
<p>Welcome to the app for counting cells of filamentous strains!
<br>To identify and count individual cells within filaments on your picture, please follow the instructions below:</p>
<ol>
    <li>Select threshold filter</li>
    <li>Enter pixel size</li>
    <li>Enter additional parameters:</li>
    <ul>
        <li>Depth of the microscopy chamber</li>
        <li>Minimal cell diameter (smaller objects will be ingnored)</li>
        <li>Number of iterations</li>
        <li>Multiplication factor (articial, needed to determine whether a newly identified cell lies within already identified cell)</li>
        <li>Distance factor (artificial, sets disatnce of centers between two cells within a filament) </li>
    </ul>
    <li>Select image</li>
    <li>Identify and count individual cells within filaments</li>
    <li>Read the result and download the counted image</li>
    <br>
    <li>Optional: If some cells have been missed, a correction can be made by identifying the missing cells by clicking the mouse on the counted image.</li>
</ol> 
<br> <br>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('cell_count_filament.count_filament_cells') }}">
    <label for="threshold_filter"><p class="font-weight-bold">{{ '1. Select threshold filter' }}</p></label>
    <select name="threshold_filter" class="form-select" aria-label="threshold_filter">
        <option selected="Binary + Otsu">Binary + Otsu</option>
        <option value="Triangle + Binary">Triangle + Binary</option>
        <option value="To zero + Triangle">To zero + Triangle</option>
        <option value="Binary">Binary</option>
        <option value="To zero">To zero</option>
        <option value="Triangle">Triangle</option>
        <option value="Otsu">Otsu</option>
    </select>
        <br>
        <div class="form-group">
        <label for="pixel_size"><p class="font-weight-bold">{{ '2. Enter pixel size (nm)' }}</p></label>
        <input  
            type="number"
            id="pixel_size" 
            class="form-control"
            name="pixel_size"
            value=""
    />
    <br>
    <div class="form-group">
    <p class="font-weight-bold">{{ '3. Adjust additional parameters' }}</p>
    <br>
    <div class="container">
        <div class="gallery_sliders_filaments">
            <span STYLE="font-size:9.5pt">10</span>
            <div class="slidecontainer">
                <input type="range" 
                    min="10" max="1000" 
                    value="120" 
                    class="slider" 
                    name = "chamber_depth_range"
                    id="chamber_depth_range"/>
            </div>
            <span STYLE="font-size:9.5pt">1000</span>
            <p>Depth of the counting chamber (nm): <span id="chamber_depth"></span></p>

            <span STYLE="font-size:9.5pt">0.5</span>
            <div class="slidecontainer">
                <input type="range" 
                min="0.5" max="30.0" 
                value="1.0"
                step="0.1"  
                class="slider" 
                name="minimal_diameter_range"
                id="minimal_diameter_range"/>
            </div>
            <span STYLE="font-size:9.5pt">30</span>
            <p>Minimal expected cell diameter (µm): <span id="minimal_diameter"></span></p>

            <span STYLE="font-size:9.5pt">1</span>
            <div class="slidecontainer">
                <input type="range" 
                min="1" max="20" 
                value="4" 
                class="slider" 
                name="iterations_range"
                id="iterations_range"/>
            </div>
            <span STYLE="font-size:9.5pt">20</span>
            <p>Number of iterations: <span id="number_of_iterations"></span></p>

            <span STYLE="font-size:9.5pt">0.1</span>
            <div class="slidecontainer">
                <input type="range" 
                min="0.1" max="2.0" 
                value="1.4" 
                step="0.1" 
                class="slider" 
                name="factor_1_multiplication_range"
                id="factor_1_multiplication_range"/>
            </div>
            <span STYLE="font-size:9.5pt">2.0</span>
            <p>Multiplication factor: <span id="factor_1_multiplication"></span></p>

            <span STYLE="font-size:9.5pt">1</span>            
            <div class="slidecontainer">
            <input type="range" 
                min="1" max="100" 
                value="28" 
                class="slider" 
                name="factor_2_distance_range"
                id="factor_2_distance_range"/>
            </div>
            <span STYLE="font-size:9.5pt">100</span>
            <p>Distance factor: <span id="factor_2_distance"></span></p>  
        </div>
    </div>
    <br>
    <div class="form-group">
    <label for="manually_identified_cells"><p class="font-weight-bold">{{ '4. Enter number of missed cells (optional, for repeated counting)' }}</p></label>
    <input  
        type="number"
        class="form-control"
        id="manually_identified_cells" 
        name="manually_identified_cells"
        value="0"
    />
    </div>
    <br>
    <label class="form-label" for="customFile"><p class="font-weight-bold">5. Select image (up to 1800 x 1800 px)</p></label>
    <input class="form-control" type="file" name="image">
    <br>
    <button type="submit" class="btn btn-primary">Split the filaments and count individual cells</button>
    <a href="{{url_for('static', filename='images/cells_filamentous_example.jpg')}}" download="example_image">
        <button type="button" class="btn btn-light">Download an example image</button>
    </a>
    <br>
    </div>
</form>

<br>
{% if img_orig_decoded_from_memory %}
    <br>
    <h2>Cell count: {{ cells_per_ml }} x 10<sup>6</sup> cells mL<sup>-1</sup> </h2>
    <p>Identified cells (by the cell-counting script): {{ cell_count }}</p>
    <p>Additionally identified cells (manual correction): {{ manually_identified_cells }}</p>
    <p>Image resolution: {{ x_pixels }} x {{ y_pixels }} pixels </p>
    <p>Image area: {{ img_area_mm2 }} mm<sup>2</sup> ({{ x_um }} x {{ y_um }} µm)</p>
    <p>Volume of the imaged area: {{ img_volume_nl }} nL</p>
    <p>Pixel size: {{ pixel_size_nm }} nm 
    / Depth of the chamber: {{ depth_nm }} nm 
    / Minimal cell size: {{ minimal_expected_size }} µm</p>
    <a href="data:image/jpeg;base64 ,{{ img_for_download_decoded_from_memory }}" download="{{ img_for_download }}">
        <button type="button" class="btn btn-primary">Download image with counted cells</button>
    </a>
    <br>
    <br>
    <br>
    <p class="font-weight-bold">{{ 'Select expected cell size (in pixels, can be changed dynamically)' }}</p>
    <div class="container">
        <div class="gallery_sliders_pixel_profile">
            <span STYLE="font-size:9.5pt">1</span>
            <div class="slidecontainer">
                <input type="range" 
                min="1" max="250" 
                value="10"
                step="1"  
                class="slider" 
                name="expected_cell_size_range"
                id="expected_cell_size_px_range"/>
            </div>
            <span STYLE="font-size:9.5pt">250</span>
            <p>Selected cell diameter (px): <span id="expected_cell_size_px"></span></p>
        </div>
    </div>
    <div class="imgbox">
        <figcaption>Identified cells (for visualization, <i>To zero</i> and <i>Triangle</i> thresholds are combined). To manually count missed cells, start clicking on the image below.</figcaption>
        <p><b>Missed cells: <span id="identified_cells"></span></b></p>
        <div class="imgbox" id="imgbox">
            <div class="insideWrapper">
                <img src="data:image/jpeg;base64,{{ img_counted_decoded_from_memory }}" class="center-fit" id="Identified_cells" alt="Identified cells">
                <canvas class="coveringCanvas" id="canvas_mouse_clicking">
                </canvas>
            </div>
        </div>
    </div>
    <br>
    <div class="imgbox">
        <figcaption>Original image</figcaption>
        <img src="data:image/jpeg;base64,{{ img_orig_decoded_from_memory }}" class="center-fit">
    </div> 

{% endif %}
<br>

<script src="{{url_for('static', filename='js_cell_count_filament.js')}}"></script>
<footer id="footer_relative">
    <br>Copyright © 
    <a href="mailto:zavrel.t@czechglobe.cz">zavrel.t@czechglobe.cz</a>
</footer>
{% endblock %}