{% extends "base.html" %} 

{% block title %}
    Development Log | CyanoTools Platform Updates & Feature Releases
{% endblock %}

{% block description %}
    Track CyanoTools platform updates, new analysis tools, algorithm improvements, and feature releases. Stay informed about scientific capabilities added to support your research in photosynthesis and microbiology.
{% endblock %}

{% block keywords %}
    CyanoTools updates, platform changelog, new features, development roadmap, tool improvements, software releases, feature announcements, scientific algorithm updates, version history, platform enhancements
{% endblock %}

{% block head %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "CyanoTools Development Log",
      "description": "Platform updates and feature release history",
      "url": "https://tools-py.e-cyanobacterium.org/development_log",
      "isPartOf": {
        "@type": "WebSite",
        "name": "CyanoTools",
        "url": "https://tools-py.e-cyanobacterium.org"
      }
    }
    </script>
{% endblock %}

{% block content %}
<!-- Banner -->
<div id="banner-content">
    <div class="banner-desktop"><!-- Desktop banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_1.jpg') }}"
             alt="CyanoTools analytical tools for algae and cyanobacteria"
             style="width: 100%;">
    </div>
    <div class="banner-mobile"><!-- Mobile banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_2.jpg') }}"
             alt="CyanoTools mobile banner"
             style="width: 100%;">
    </div>
</div>
<br>
<h3>Development log</h3>
<br>
<table style="width:95%">
    <colgroup>
        <col style="width:1%">
        <col style="width:20%">
    </colgroup>  
    <tr>
        <td><u>Date</u></td>
        <td><u>Update</u></td>
    </tr>
    <tr>
        <td>2026-02</td>
        <td>MIMS tool improvement-advanced drift compensation algorithm allowing for signal normalization relative to a user-defined baseline time point.</i>
    </tr>
    <tr>
        <td>2026-02</td>
        <td>Calculator estimating substance dilution in a continuous culture launched </i>
    </tr>
        <tr>
        <td>2026-02</td>
        <td>2D excitation-emission spectrofluorometry maps plotting launched </i>
    </tr>
    <tr>
        <td>2026-01</td>
        <td>Initial version of statstical analysis tools launched - box plots, simple PCA and data homogeneity and normality tests</i>
    </tr>
    <tr>
        <td>2026-01</td>
        <td>MIMS tool update to process data from Quadstar&reg; software </i>
    </tr>
    <tr>
        <td>2025-08</td>
        <td>MIMS tool allows to normalize raw signals, and to obtain derivatives 
            (changes of either raw or normalized MIMS signal in time), based on time intervals selected by user </i>
    </tr>
    <tr>
        <td>2025-08</td>
        <td>Membrane Inlet Mass Spectrometry (MIMS) data viewing tool added for MS GAS systems (Photon System Instruments)</i>
    </tr>
    <tr>
        <td>2025-07</td>
        <td>A fresh new look of the website given, making it cleaner, faster, and easier to use</i>
    </tr>
    <tr>
        <td>2025-07</td>
        <td>Membrane Inlet Mass Spectrometry (MIMS) data viewing tool added for HPR40 systems (Hiden Analytical)</i>
    </tr>
    <tr>
        <td>2025-07</td>
        <td>Recalculation of <i>OD<sub>720</sub></i> between AuaPen, MC-1000, FMT-150 and UV-2600 spectrophotometer now available in Calculators</i>
    </tr>
    </tr>
    <tr>
        <td>2025-07</td>
        <td>Option to analyze OJIP curves from  
            <a href="https://fluorometers.psi.cz/products/fluorometer-fl-6000/" target="_blank" rel="noopener">fluorometer FL6000</a> and
            identification of OJIP inflection points added
        </td>
    </tr>
    <tr>
        <td>2025-01</td>
        <td>Style updates</td>
    </tr>
    <tr>
        <td>2024-12</td>
        <td>Functional updates for Slow kinetics, Calculators</td>
    </tr>
    <tr>
        <td>2024-07</td>
        <td>Style updates</td>
    </tr>
    <tr>
        <td>2024-04</td>
        <td>Functional updates for 77K excitation/emission spectra analysis</td>
    </tr>
    <tr>
        <td>2024-02</td>
        <td>Functional updates for OJIP and Light Curves analysis</td>
    </tr>
    <tr>
        <td>2024-01</td>
        <td>Functional updates for OJIP analysis</td>
    </tr>
    <tr>
        <td>2023-11</td>
        <td>Functional updates for Pixel Profiles analysis</td>
    </tr>
    <tr>
        <td>2023-09</td>
        <td>Functional updates for Pixel Profiles and Cell Size analysis</td>
    </tr>
    <tr>
        <td>2023-08</td>
        <td>Functional updates for Pixel Profiles and Cell Count analysis</td>
    </tr>
    <tr>
        <td>2023-07</td>
        <td>Functional updates for Cell Count analysis</td>
    </tr>
    <tr>
        <td>2023-06</td>
        <td>Website launched</td>
    </tr>
</table>

<br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock %}