{% extends "base.html" %} 

{% block title %} 
    Development log
{% endblock %}

{% block content %}
<h3>Development log</h3>
<br>
<table style="width:95%">
    <colgroup>
        <col style="width:1%">
        <col style="width:20%">
    </colgroup>  
    <tr>
        <td><u>Date</u></td>
        <td><u>Update</u></td>
    </tr>
    <tr>
        <td>2025-01</td>
        <td>Style updates</td>
    </tr>
    <tr>
        <td>2024-12</td>
        <td>Functional updates for Slow kinetics, Calculators</td>
    </tr>
    <tr>
        <td>2024-07</td>
        <td>Style updates</td>
    </tr>
    <tr>
        <td>2024-04</td>
        <td>Functional updates for 77K excitation/emission spectra analysis</td>
    </tr>
    <tr>
        <td>2024-02</td>
        <td>Functional updates for OJIP and Light Curves analysis</td>
    </tr>
    <tr>
        <td>2024-01</td>
        <td>Functional updates for OJIP analysis</td>
    </tr>
    <tr>
        <td>2023-11</td>
        <td>Functional updates for Pixel Profiles analysis</td>
    </tr>
    <tr>
        <td>2023-09</td>
        <td>Functional updates for Pixel Profiles and Cell Size analysis</td>
    </tr>
    <tr>
        <td>2023-08</td>
        <td>Functional updates for Pixel Profiles and Cell Count analysis</td>
    </tr>
    <tr>
        <td>2023-07</td>
        <td>Functional updates for Cell Count analysis</td>
    </tr>
    <tr>
        <td>2023-06</td>
        <td>Website launched</td>
    </tr>
</table>

<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}