{% extends "base.html" %}

{% block title %}
    DoAB-CyanoTools
{% endblock %}

{% block content %}
<!-- Banner -->
<div id="banner-content">
    <div class="banner-desktop"><!-- Desktop banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_1.jpg') }}"
             alt="CyanoTools analytical tools for algae and cyanobacteria"
             style="width: 100%;">
    </div>
    <div class="banner-mobile"><!-- Mobile banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_2.jpg') }}"
             alt="CyanoTools mobile banner"
             style="width: 100%;">
    </div>
</div>
<br>
<!-- Introductory Paragraph with Keywords -->
<div class="container">
    <p style="font-size: 1.1em;">
        Welcome to <strong>CyanoTools</strong>, an interactive and comprehensive web platform designed to support researchers and students working in 
        <strong>cyanobacteria, algae, plant biology</strong>, and <strong>microbial research</strong>. Developed by the
        <a href="https://www.czechglobe.cz/en/institute-structure/research-sector/v-domain-adaptive-and-innovative-techniques/" target="_blank">
        Department of Adaptive Biotechnologies (DoAB)</a> at the <a href="https://www.czechglobe.cz/en/" target="_blank">Global Change Research Institute</a> 
        of the <a href="https://www.avcr.cz/en/" target="_blank">Czech Academy of Sciences</a>, CyanoTools provides advanced tools for <strong>biological data analysis</strong>.
    </p>
    <p style="font-size: 1.1em;">
        From <strong>chlorophyll fluorescence</strong> and <strong>microscopy</strong> to <strong>bioreactor control</strong>, 
        CyanoTools supports experimental workflows using browser-based tools—no installation needed.
    </p>
    <p style="font-size: 1rem; margin-top: 1.5em;">
      CyanoTools is regularly updated with new features and improvements. 
      For the latest news, visit our <a href="{{ url_for('development_log.run_development_log') }}" target="_blank">development log</a>.
    </p>
</div>
<br>

<!-- Features Section Heading -->
<section class="features">
    <div class="container">
        <h2 class="section-title" style="font-size: 2em;">
            Explore the analytical features of <b><a style="color: #00b894">Cyano</a><a style="color: #525151">Tools</a></b>
        </h2>
        <div class="features-grid">
            <div class="feature">
                <h3><b>Rapid Light Curves</b></h3> 
                <a href="{{ url_for('light_curves_analysis.analyze_light_curves') }}">
                    <img src="static/images/light_curves_3.jpg" alt="Slow" class="gallery_img_home">
                </a>
                <p>Photosynthetic performance under varying light intensities.</p>
                <a href="{{ url_for('light_curves_analysis.analyze_light_curves') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3><b>OJIP transients</b></h3> 
                <a href="{{ url_for('OJIP_data_analysis.analyze_OJIP_curves') }}">
                    <img src="static/images/OJIP_curves_example_4.jpg" alt="Slow" class="gallery_img_home">
                </a>
                <p>Efficiency of electron transport within the photosynthetic electron transport chain.</p>
                <a href="{{ url_for('OJIP_data_analysis.analyze_OJIP_curves') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3><b>Kautsky kinetics</b></h3> 
                <a href="{{ url_for('slow_kin_data_analysis.analyze_slow_kin_data') }}">
                    <img src="static/images/Slow_kin_example_4.jpg" alt="Slow" class="gallery_img_home">
                </a>
                <p>ETR efficiency, NPQ, state transitions and more.</p>
                <a href="{{ url_for('slow_kin_data_analysis.analyze_slow_kin_data') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3><b>77K fluorescence</b></h3> 
                <a href="{{ url_for('ex_em_spectra_analysis.analyze_ex_em_spectra') }}">
                    <img src="static/images/Ex_em_spectra_example_4.jpg" alt="Slow" class="gallery_img_home">
                </a>
                <p>Content, ratio and interactions of pigment-protein complexes.</p>
                <a href="{{ url_for('ex_em_spectra_analysis.analyze_ex_em_spectra') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3 style="font-size: 0.95em;"><b>Cell counting</b></h3> 
                <a href="{{ url_for('cell_count.count_cells') }}">    
                    <img src="static/images/cell_counting_counted_1.JPG" alt="Slow" class="gallery_img_home">
                </a>
                <p>Counting round cells in fluorescence microscopy images.</p>
                <a href="{{ url_for('cell_count.count_cells') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3 style="font-size: 0.95em;"><b>Cell size</b></h3> 
                <a href="{{ url_for('cell_size_round_cells.analyze_cell_size') }}">    
                    <img src="static/images/cell_size_analzyed_1.JPG" class="gallery_img_home">
                </a>
                <p>Diameter of individual round cells determined by automated detection.</p>
                <a href="{{ url_for('cell_size_round_cells.analyze_cell_size') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3 style="font-size: 0.95em;"><b>Pigment profiles</b></h3> 
                <a href="{{ url_for('pixel_profiles_round_cells.get_pixel_profiles') }}">    
                    <img src="static/images/pigment_profiles_analzyed_1.JPG" alt="Slow" class="gallery_img_home">
                </a>
                <p>Fluorescence intensity of individual pigments in single round cells</p>
                <a href="{{ url_for('pixel_profiles_round_cells.get_pixel_profiles') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3 style="font-size: 0.95em;"><b>Cell counting - filaments</b></h3> 
                <a href="{{ url_for('cell_count_filament.count_filament_cells') }}">    
                    <img src="static/images/cells_filamentous_counted_4.jpg" alt="Slow" class="gallery_img_home">
                </a>
                <p>Counting filamentous cells in fluorescence microscopy images.</p>
                <a href="{{ url_for('cell_count_filament.count_filament_cells') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3 style="font-size: 0.95em;"><b>Cell size - filaments</b></h3> 
                <a href="{{ url_for('cell_size_filament.analyze_cell_size_filament') }}">    
                    <img src="static/images/cell_size_filaments_analyzed_1.JPG" class="gallery_img_home">
                </a>
                <p>Diameter of individual round cells determined by manual detection.</p>
                <a href="{{ url_for('cell_size_filament.analyze_cell_size_filament') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3 style="font-size: 0.95em;"><b>Pigment profiles - filaments</b></h3> 
                <a href="{{ url_for('pixel_profiles_filament.get_pixel_profiles') }}">    
                    <img src="static/images/pigment_profiles_filaments_analyzed_1.JPG" class="gallery_img_home">
                </a>
                <p>Fluorescence profiles of individual pigments in filamentous cells.</p>
                <a href="{{ url_for('pixel_profiles_filament.get_pixel_profiles') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3 style="font-size: 0.95em;"><b>Calculators</b></h3> 
                <a href="{{ url_for('calculators.run_calculators') }}">    
                    <img src="static/images/calculator_1.JPG" class="gallery_img_home">
                </a>
                <p>Dissolved O<sub>2</sub>, doubling time, correction and recalculation of optical density, and more.</p>
                <a href="{{ url_for('calculators.run_calculators') }}"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3 style="font-size: 0.95em;"><b>DIC in (sea)water</b></h3> 
                <a href="https://czechglobe-doab.shinyapps.io/SeawaterCarbonateSystem/" target="_blank">    
                    <img src="static/images/seacarb2_1.JPG" class="gallery_img_home">
                </a>
                <p>Calculating concentration and ratio of dissolved CO<sub>2</sub>, HCO<sub>3</sub><sup>-</sup>, CO<sub>3</sub><sup>2-</sup>, and more.</p>
                <a href="https://czechglobe-doab.shinyapps.io/SeawaterCarbonateSystem/" target="_blank"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3><b>Photobioreactors</b></h3> 
                <a href="https://czechglobe-doab.shinyapps.io/PBR-DataAnalysis/" target="blank">
                    <img src="static/images/PBRtool2_1.jpg" alt="Slow" class="gallery_img_home">
                </a>
                <p>Tools for photobioreactors <a href="https://photo-bio-reactors.com/" target="blank">FMT-150</a>:
                batch, turbidostat and periodic data analysis.</p>
                <a href="https://czechglobe-doab.shinyapps.io/PBR-DataAnalysis/" target="blank"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3><b>PBR control scripts</b></h3> 
                <a href="https://smartbiotech.github.io/PBR-ControlScripts/" target="blank">    
                    <img src="static/images/PBRscripts2_1.JPG" alt="Slow" class="gallery_img_home">
                </a>
                <p>Control scripts for photobioreactors <a href="https://photo-bio-reactors.com/" target="blank">FMT-150</a>
                including growth optimizer and PI curves measurement scripts.</p>
                <a href="https://smartbiotech.github.io/PBR-ControlScripts/" target="blank"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3><b>Optimalga</b></h3> 
                <a href="https://www.optimalga.com/" target="_blank">    
                    <img src="static/images/optimalga_logo_1.jpg" class="gallery_img_home">
                </a>
                <p>Centralized platform for data collection, transformation and sharing.</p>
                <a href="https://www.optimalga.com/" target="_blank"><b>Launch tool &rarr;</b></a>
            </div>
            <div class="feature">
                <h3><b>E-cyanobacterium</b></h3> 
                <a href="https://www.e-cyanobacterium.org/" target="_blank">    
                    <img src="static/images/ecyanobacterium_1.JPG" class="gallery_img_home">
                </a>
                <p>Sharing, annotation, analysis, and visualisation of models and wet-lab experiments.</p>
                <a href="https://www.e-cyanobacterium.org/" target="_blank"><b>Launch tool &rarr;</b></a>
            </div>
        </div>
    </div> 
</section>
<br>

<!-- Key Benefits Section -->
<section class="features">
    <div class="container">
        <h2 class="section-title" style="font-size: 2em;">
            Why use <a style="color: #00b894"><b>Cyano</b><b style="color: #525151">Tools</b></a>?
        </h2>
        <div class="features-grid">
            <div class="feature-no-background">
                <div class="feature-icon">🎯</div>
                <h3 style="font-size: 1.5em;">Research-Focused</h3>
                <p>Tools are tailored for cyanobacterial and algal biology, reflecting widely used methods of Chl <i>a</i> fluorescence, microscopy or spectrofluorometry.</p>
            </div>
            <div class="feature-no-background">
                <div class="feature-icon">🚀</div>
                <h3 style="font-size: 1.5em;">Fast Processing</h3>
                <p>Optimized algorithms deliver fast, real-time analysis of complex data — no delays, even with large input files.</p>
            </div>
            <div class="feature-no-background">
                <div class="feature-icon">📚</div>
                <h3 style="font-size: 1.5em;">Educational Value</h3>
                <p>The tools include explanations, equations, and definitions of key parameters — making them ideal for educational purpose.</p>
            </div>
            <div class="feature-no-background">
                <div class="feature-icon">🔒</div>
                <h3 style="font-size: 1.5em;">Secure & Private</h3>
                <p>Every input file is processed in-memory and never stored. All operations are session-based to ensure maximum confidentiality.</p>
            </div>
            <div class="feature-no-background">
                <div class="feature-icon">📥</div>
                <h3 style="font-size: 1.5em;">Batch processing</h3>
                <p>The tools support batch processing of multiple files with results downloadable in a summary .xlsx  file.</p>
            </div>
            <div class="feature-no-background">
                <div class="feature-icon">📱</div>
                <h3 style="font-size: 1.5em;">Cross-Platform</h3>
                <p>Responsive design adapts to phones, tablets, and desktops. The analysis can be run from lab benches, classrooms, or field sites.</p>
            </div>
            <div class="feature-no-background">
                <div class="feature-icon">🔧</div>
                <h3 style="font-size: 1.5em;">No Installation</h3>
                <p>Everything runs in the browser. No software installation or updates needed — just open the site and start analyzing.</p>
            </div>
            <div class="feature-no-background">
                <div class="feature-icon">🌐</div>
                <h3 style="font-size: 1.5em;">Open and Accessible</h3>
                <p>Freely available to all users worldwide. Fully transparent tool logic allows reproducibility and validation of results.</p>
            </div>
        </div>
    </div>
</section>
<br>

<!-- About DoAB Section -->
<section class="features">
    <div class="container">
        <h2 class="section-title" style="font-size: 1.5em;">
            About the Department of Adaptive Biotechnologies (DoAB)
        </h2>
        <div class="features-grid">
            <div class="feature">
                <h3>DoAB home page</h3> 
                <a href="https://www.czechglobe.cz/en/institute-structure/research-sector/v-domain-adaptive-and-innovative-techniques/" target="_blank">    
                    <img src="static/images/drasov_2_2.JPG" class="gallery_img_home">
                </a>
            </div>
            <div class="feature">
                <h3>DoAB infrastructure</h3> 
                <a href="http://www.pracovistedrasov.pano3d.eu/" target="_blank">    
                    <img src="http://www.czechglobe.cz/wp-content/uploads/2020/02/drasov_pano3d_final.png" 
                    srcset="https://www.czechglobe.cz/wp-content/uploads/2020/02/drasov_pano3d_final.png 400w, 
                    https://www.czechglobe.cz/wp-content/uploads/2020/02/drasov_pano3d_final-300x191.png 300w" class="gallery_img_home">
                </a>
            </div>
            <div class="feature">
                <h3>DoAB results</h3> 
                <a href="https://www.researchgate.net/lab/Jan-Cerveny-Lab" target="_blank">    
                    <img src="static/images/drasov_6.JPG" class="gallery_img_home">
                </a>
            </div>
            <div class="feature">
                <h3>DoAB social media</h3> 
                <a href="https://twitter.com/CzechGlobe_DoAB" target="_blank">    
                    <img src="static/images/drasov_5.JPG" class="gallery_img_home">
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

