{% extends "base.html" %}

{% block title %} 
    Home 
{% endblock %}

{% block content %}
    <h1> Welcome! </h1>
    <p>Please select a tool from the below options:</p>
    <div class="container">
            <div class="gallery">
                <a href="{{ url_for('cell_counting.count_cells') }}" class="gallery__img gallery__item--1">
                    <p>Cell counting - round cells</p>
                    <img src="static/images/cell_counting_counted.jpg" alt="Cell counting - round cells" class="gallery__img">
                </a>
                <a href="{{ url_for('cell_count_filament.count_filament_cells') }}" class="gallery__img gallery__item--2">
                    <p>Cell counting - filaments</p>
                    <img src="static/images/cells_filamentous_counted.jpg" alt="Cell counting - filament strains" class="gallery__img">
                </a>
                <a href="{{ url_for('pixel_profiles.get_pixel_profiles') }}" class="gallery__img gallery__item--3">
                    <p>Cellular pixel profiles</p>
                    <img src="static/images/pixel_profiles_analzyed.jpg" alt="Pixel profiles" class="gallery__img">
                </a>
                <a class="gallery__img gallery__item--4">
                    <p> </p>
                    <img src="static/images/white_background.jpg" class="gallery__img">
                    <p> <br> </p>                 
                </a>
            </div>
    </div>
{% endblock %}

