{% extends "base.html" %} 

{% block title %} 
    Light curves analysis
{% endblock %}

{% block content %}
<!-- Banner -->
<div id="banner-content">
    <div class="banner-desktop"><!-- Desktop banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_1.jpg') }}"
             alt="CyanoTools analytical tools for algae and cyanobacteria"
             style="width: 100%;">
    </div>
    <div class="banner-mobile"><!-- Mobile banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_2.jpg') }}"
             alt="CyanoTools mobile banner"
             style="width: 100%;">
    </div>
</div>
<br>
<h1>Analysis of rapid light curves 
    <br>(Photosynthesis-Irradiance curves)</h1>
<p>Welcome to the rapid light curves analyzing tool! Rapid light curves 
    (also called photosynthesis-irradiance curves) are a widely used method for assessing photosynthetic performance 
    under varying light intensities. By analyzing how chlorophyll fluorescence changes in response to stepwise increases in actinic light, 
    this method provides insights into photosynthetic efficiency, photoprotection mechanisms, and the functional state of photosystem II (PSII).
    The rapid light curves can be measured in plants, algae, cyanobacteria and in some photosynthetic bacteria. 
</p>
<p>This tool allows visualization and quantitative analysis of rapid ligth curves recorded with various PAM fluorometers, including 
    <a href="https://www.walz.com/products/chl_p700/multi-color-pam/introduction.html" target="_blank" class="gallery__item--1">MULTI-COLOR-PAM</a>, 
    <a href="https://www.walz.com/products/chl_p700/dual-pam-100/introduction.html" target="_blank" class="gallery__item--2">DUAL-PAM</a>, 
    <a href="https://handheld.psi.cz/products/aquapen-c-and-aquapen-p/#info" target="_blank" class="gallery__item--3">AquaPen</a>, 
    <a href="https://handheld.psi.cz/products/fluorpen-and-par-fluorpen/#info" target="_blank" class="gallery__item--4">FluorPen</a> or
    <a href="https://fluorometers.psi.cz/products/fluorometer-fl-6000/" target="_blank" class="gallery__item--5">FL 6000</a>.
    Up to 50 files can be uploaded simultaneously for batch processing. The tool generates multiple visualizations for each file precessed, including:
<ul style="font-size:95%">
    <li>Raw fluorescence signal under stepwise increased actinic light</li>
    <li>Technical parameters of the fluorescence signal, such as <i>F<sub>t</sub></i> or <i>F<sub>M</sub></i></li>
    <li>Derived parameters (for details, see the summary table below):
        <ul>
            <li><i>Q<sub>Y</sub></i>, <i>rETR</i>, <i>qP</i>, <i>qN</i> and <i>NPQ</i></li>
            <li>Parameters of ETR fitting: <i>α</i>, <i>β</i>, <i>ETR<sub>max</sub></i>, I<sub>k</sub>, I<sub>b</sub></li>
        </ul>
    </li>
</ul>
<br>
The curves are fitted by a model described by 
<a href="https://elischolar.library.yale.edu/journal_of_marine_research/1525" target="_blank">Platt et al. (1980)</a>:  
</p>
<p>$$
    \begin{multline}
    \shoveleft rETR = rETR_{mPot} (1 - e^\frac{\alpha PAR}{rETR_{mPot}}) e^{-\frac{\beta PAR}{rETR_{mPot}}},
    \end{multline}
    $$
</p>
<p>This allows to derive additional paramters such as photosynthesis efficiency under low irradiance (<i>α</i>), 
    photoinhibition coefficient under high irradiance (<i>β</i>), maximum potential electron transport rate (<i>ETR<sub>max</sub></i>), 
    or irradiance required to reach maximal rETR in theoretical scenario where 
    photoinhibition would be absent. The full list of parameters is summarized below.
    After analysis, all curves, calculated values, and summary statistics are compiled into a downloadable .xlsx file for further use.
</p>
<br>
<div class="container">
    <img src="static/images/light_curve_orig.jpg" alt="Light curve example" class="gallery__img" data-enlargeable width="50%" style="cursor: zoom-in; width: 25%;">
</div>
<table style="width:95%">
    <colgroup>
        <col style="width:2%">
        <col style="width:4%">
        <col style="width:2%">
        <col style="width:12%">
    </colgroup>  
    <tr>
        <td><u>Parameter</u></td>
        <td><u>Formula</u></td>
        <td><u>Unit</u></td>
        <td><u>Meaning</u></td>
    </tr>
    <tr>
        <td colspan="4"><i>Technical parameters</i></td>
    </tr>
    <tr>
        <td>PAR</td>
        <td></td>
        <td>µmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Photosynthetically active radiation</td>
    </tr>
    <tr>
        <td>F<sub>O</sub>'</td>
        <td></td>
        <td></td>   
        <td>Minimum fluorescence yield of the measured culture</td>
    </tr>
    <tr>
        <td>F<sub>t</sub>, F<sub>M</sub>'</td>
        <td></td>
        <td></td>
        <td>Steady-state and maximum fluorescence yield under each tested PAR level, respectively</td>
    </tr>
    <tr>
        <td>F<sub>M</sub>'<sub> (max)</sub></td>
        <td></td>
        <td></td>
        <td>Maximum fluorescence yield through all tested PAR levels</td>
    </tr>
    <tr>
        <td colspan="4"><i>&nbsp</i></td>
    </tr>
    <tr>
        <td colspan="4"><i>Efficiencies, quantum yields and quenching</i></td>
    </tr>
    <tr>
        <td>Q<sub>y</sub></td>
        <td>(F<sub>M</sub>' - F<sub>t</sub>) / F<sub>M</sub>'</td>
        <td></td>
        <td>Effective quantum yield of electron transport through PSII</td>
    </tr>
    <tr>
        <td>rETR</td>
        <td>Q<sub>y</sub> * PAR</td>
        <td>µmol<sub>electrons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Relative electron transport rate; assuming that
            <a href="https://aquation.com.au/wp-content/uploads/2017/08/How-to-Analyse-a-Rapid-Light-Curve.pdf" target="blank">
                the value of photons absorptance by PSII is unknown</a></td>
    </tr>
    <tr>
        <td>qP</td>
        <td>(F<sub>M</sub>' - F<sub>t</sub>) / (F<sub>M</sub>' - F<sub>O</sub>)</td>
        <td></td>
        <td>Coefficient of photochemical quenching (flow of the captured light energy into photochemical reactions)</td>
    </tr>
    <tr>
        <td>qN</td>
        <td>(F<sub>M</sub>'<sub> (max)</sub> - F<sub>M</sub>') / (F<sub>M</sub>'<sub> (max)</sub> - F<sub>O</sub>)</td>
        <td></td>
        <td>Coefficient of non-photochemical quenching (flow of the captured light energy into heat)</td>
    </tr>
    <tr>
        <td>NPQ</td>
        <td>(F<sub>M</sub>'<sub> (max)</sub> - F<sub>M</sub>') / F<sub>M</sub>'</td>
        <td></td>
        <td>Non-photochemical quenching (flow of the captured light energy into heat)</td>
    </tr>
        <tr>
        <td colspan="4"><i>&nbsp</i></td>
    </tr>
    <tr>
        <td colspan="4"><i>Parameters based on the light curves fitting</i></td>
    </tr>
    <tr>
        <td>α</td>
        <td></td>
        <td>electrons photons<sup>-1</sup></td>
        <td>Initial slope of the light curve, related to quantum efficiency of photosynthesis</td>
    </tr>
    <tr>
        <td>β</td>
        <td></td>
        <td>electrons photons<sup>-1</sup></td>
        <td>Slope of the light curve under the highest intensities, related to photoinhibition</td>
    </tr>
    <tr>
        <td>ETR<sub>mPot</sub></td>
        <td></td>
        <td>µmol<sub>electrons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Potential maximum ETR without photoinhibition considered</td>
    </tr>
    <tr>
        <td>ETR<sub>max</sub></td>
        <td>ETR [α / (α + β)] [β / (α + β)]<sup>(β/α)</sup></td>
        <td>µmol<sub>electrons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Maximum electron transport rate</td>
    </tr>
    <tr>
        <td>I<sub>k</sub></td>
        <td>ETR<sub>max</sub> / α</td>
        <td>µmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Irradiance required to saturate ETR<sub>max</sub></td>
    </tr>
    <tr>
        <td>I<sub>b</sub></td>
        <td>ETR<sub>max</sub> / β</td>
        <td>µmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Irradiance required to photoinhibit ETR<sub>mPot</sub>, also known as photoinhibition index</td>
    </tr>
</table>
<p style="line-height: 0.9">
    <b style="font-size:70%"><i>References:</i></b>
    <br>
    <i style="font-size:70%">Ralph P., Gademann R. (2005):
        Aquatic Botany 82, 222–237, DOI: 
    <a href="https://doi.org/10.1016/j.aquabot.2005.02.006" target="_blank">10.1016/j.aquabot.2005.02.006</a></i>
    <br>
    <i style="font-size:70%">White A. J., Critchley C. (1999):
        Photosynthesis Research, 59, 63–72, DOI:
    <a href=" https://doi.org/10.1023/A:1006188004189" target="_blank">10.1023/A:1006188004189</a></i>
    <br>
    <i style="font-size:70%">Platt T., Gallegos C. L., Harrison W. G (1980):
        Journal of Marine Research, 38, 687-701:
    <a href="https://elischolar.library.yale.edu/journal_of_marine_research/1525" target="_blank">1525</a></i>
</p>
<br>
<u>How to use this tool:</u>
<br>
<ol>
    <li>Select your fluorometer</li>
    <li>Select the measured ligth curves protocol</li>
    <li>Adjust parameters related to rapid light curves fitting (by the equation shown above)</li>
    <li>Upload and analyze light curve files (up to 50 files)</li>
    <li>Review the light curves and the calculated parameters</li>
    <li>Download the processed results in a summary .xlsx file</li>
</ol>
<br>
<a style="line-height: 0.9"> <i style="font-size:80%">Accepted file formats include .txt files, as obtained by <i>AquaPen / FluorPen</i> fluorometers:</i></a>
<div class="gallery_6_img">
    <a href="https://handheld.psi.cz/products/aquapen-c-and-aquapen-p/#info" target="_blank" class="gallery__item--1">
        <i style="font-size:80%">AquaPen</i>
        <img src="static/images/aquapen.jpg" alt="Aquapen" class="gallery__item--3">
    </a>
    <a href="https://handheld.psi.cz/products/fluorpen-and-par-fluorpen/#info" target="_blank" class="gallery__item--2">
        <i style="font-size:80%">FluorPen</i>
        <img src="static/images/fluorpen.jpg" alt="FluorPen" class="gallery__item--4">
    </a>
</div>
<br>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('light_curves_analysis.analyze_light_curves', _anchor='results') }}">
    <div class="form-group">
        <label for="fluorometer"><p class="font-weight-bold">{{ '1. Select fluorometer' }}</p></label>
            <select name="fluorometer" class="form-control"  aria-label="fluorometer" style="width:100%">
                <option selected="Aquapen">AquaPen / FluorPen (Photon Systems Instruments spol. s r.o.)</option>
            </select>
    </div>
    <br>
    <label class="form-label"><p class="font-weight-bold">2. Select light curves protocol (Aquapen)</p></label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="checkbox_LC" id="checkbox_LC1" value="checkbox_LC1">
        <label class="form-check-label" for="checkbox_LC">
            <i> &nbspLight curve 1: <font size="2">Number of phases: <b>6</b>, Duration of each phase: <b>60 s</b>, Light intensities: <b>10; 20; 50; 100; 300; 500 μmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></font></b></i>
        </label>
        <br>
        <input class="form-check-input" type="radio" name="checkbox_LC" id="checkbox_LC2" value="checkbox_LC2">
        <label class="form-check-label" for="checkbox_LC"></label>
            <i>Light curve 2: <font size="2">Number of phases: <b>5</b>, Duration of each phase: <b>30 s</b>, light intensities: <b>100; 200; 300; 500; 1000 μmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></font></i></b>
        </label>
        <br>
        <input class="form-check-input" type="radio" name="checkbox_LC" id="checkbox_LC3" value="checkbox_LC3" checked>
        <label class="form-check-label" for="checkbox_LC"></label>
            <i>Light curve 3: <font size="2">Number of phases: <b>7</b>, Duration of each phase: <b>60 s</b>, light intensities: <b>10; 20; 50; 100; 300; 500; 1000 μmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></font></i></b>
        </label>
    </div>
    <br>
    <br>
    <p><b>3. Adjust additional parameters</b></p>
    <div class="gallery_sliders_cell_count">
        <span STYLE="font-size:9.5pt">1</span>
        <div class="slidecontainer">
            <input type="range" 
                    min="1" max="100" 
                    value="10" 
                    class="slider" 
                    name="ETR_max_multiplication_factor_range"
                    id="ETR_max_multiplication_factor_range"/>
        </div>
        <span STYLE="font-size:9.5pt">100</span>
        <a>ETR<sub>max factor</sub>: <b><span id="ETR_max_multiplication_factor"></span></b>. The factor defines upper <i>ETR<sub>mPot</sub></i> limit as: <i>ETR<sub>mPot</sub> = ETR<sub>max measured</sub> * ETR<sub>max factor</sub></i></a>
    </div>
    <p class="font-weight-bold">4. Select files</p>
    <div class="custom-file">
        <input 
            type="file" 
            class="custom-file-input" 
            type="file"
            name="light_curve_files"
            id="light_curve_files"
            multiple=""
            accept=".csv, .CSV, .txt, .ASCII"
            style="width:100%">
        <label class="custom-file-label" for="customFile">Select files</label>
    </div>
    <br> <br>
    <button id="show-image-button" type="submit" class="btn btn-primary">Upload and analyze light curves</button>
    <a href="{{url_for('static', filename='files/Light_curve_3_example_files.zip')}}" download="Light_curve_3_example_files">
        <button type="button" class="btn btn-outline-primary" >Download example light curve files</button>
    </a>
</form>
<br>
<div class="container">
    <img id="loadingimage" src="{{url_for('static', filename='images/loadingimage.gif')}}" style="display: none;">
</div>

{% if plot_from_memory %}
    <section id="results"></section>   
    <br> <br>
    <h6><b>Light curves: </b></h6>
    <img data-enlargeable width="50%" style="cursor: zoom-in" src="data:image/jpeg;base64,{{ plot_from_memory }}"/>
    <br> <br>

    <h6><b>Calculated parameters: </b></h6>
    <img data-enlargeable width="50%" style="cursor: zoom-in" src="data:image/jpeg;base64,{{ parameters_from_memory }}"/>
    <br> <br>

    <form>
        <h6><b>Download results:</b></h6>
        <ol>
            <li>Plots (as shown above)</li>
            <li>Raw fluorescence signals</li>
            <li>Technical parameters (F<sub>t</sub>, F<sub>m</sub>') </li>
            <li>Calculated parameters (qP, NPQ, Q<sub>y</sub>, ETR<sub>measured</sub>)</li>
            <li>Parameters based on the light curves fitting (ETR<sub>fitted</sub>, α, β, I<sub>k</sub>, I<sub>b</sub>, ETR<sub>max</sub>, ETR<sub>mPot</sub>)</li>
        </ol>
        <a href="{{ url_for('static', filename=xlsx_file_path)}}">
            <button type="button" class="btn btn-success">Download summary .xlsx file</button>
        </a>

    </form>

{% elif raw_data_from_memory %}
    <section id="exactlocation"></section>   
    <br> <br>
    <div class="alert alert-danger fade show" role="alert">
        <strong>Some light curves contain either zero or oversaturated fluorescence signal. Please inspect the measured data and select only rapid light curves suitable for fitting.</strong>
    </div>
    <br>     
    <h6><b>Raw fluorescence signals: </b></h6>
    <img data-enlargeable width="50%" style="cursor: zoom-in" src="data:image/jpeg;base64,{{ raw_data_from_memory }}"/>

{% else %}
<br><br><br><br><br><br><br>

{% endif %}
<br><br><br><br><br><br><br>

<script src="{{url_for('static', filename='js_light_curves.js')}}"></script>

{% endblock %}