{% extends "base.html" %} 

{% block title %} 
    Light curves analysis
{% endblock %}

{% block content %}
<h1>Analysis of rapid light curves 
    <br>(Photosynthesis-Irradiance curves)</h1>
<br>
<div class="container">
    <img src="static/images/light_curve_orig.jpg" alt="Light curve example" class="gallery__img" data-enlargeable width="50%" style="cursor: zoom-in; width: 25%">
</div>
<br>
<p>Welcome to the application for analyzing rapid light curves (Photosynthesis-Irradiance, P-I curves)! Rapid light curves provide 
    a detailed information on the ability of the studied organism to cope with increasing light intensity, 
    on the overall performance and saturation level of photosynthetic electron transport rate 
    as well as on the efficiency of both photochemical and non-photochemical quenching. 
    The rapid light curves can be measured for all photosyntheetically active organisms, i.e. for plants, algae, cyanobacteria or photosynthetic bacteria. 
<br><br>
This tool visualizes and analyzes rapid ligth curves curves, as obtained by PAM fluorometry measurements. The tool reads up to 50 rapid light curve files and plots 
    several graphs: raw fluorescence signal and parameters <i>Ft</i>, <i>Fm</i>, <i>qP</i>, <i>qN</i>, <i>NPQ</i>, <i>Qy</i> and <i>ETR</i> (see the summary table below).
    <br>
    Besides plotting the fluorescence signals and calculating these parameters under each light intensity, the curves are fitted by a 
    model described by <a href="https://elischolar.library.yale.edu/journal_of_marine_research/1525" target="_blank">Platt et al. (1980)</a>:  
</p>
<p>$$
    \begin{multline}
    \shoveleft rETR = rETR_{mPot} (1 - e^\frac{\alpha PAR}{rETR_{mPot}}) e^{-\frac{\beta PAR}{rETR_{mPot}}},
    \end{multline}
    $$
</p>
<p>This allows to derive additional paramters such as photosynthesis efficiency under low irradiance (<i>α</i>), photoinhibition coefficient under high irradiance (<i>β</i>), 
    maximum potential electron transport rate (<i>ETR<sub>max</sub></i>), or irradiance required to reach maximal rETR in theoretical scenario where 
    photoinhibition would be absent. The full list of parameters is summarized below:
</p>
<table style="width:95%">
    <colgroup>
        <col style="width:2%">
        <col style="width:4%">
        <col style="width:2%">
        <col style="width:12%">
    </colgroup>  
    <tr>
        <td><u>Parameter</u></td>
        <td><u>Formula</u></td>
        <td><u>Unit</u></td>
        <td><u>Meaning</u></td>
    </tr>
    <tr>
        <td colspan="3"><i>Technical parameters</i></td>
    </tr>
    <tr>
        <td>PAR</td>
        <td></td>
        <td>µmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Photosynthetically active radiation</td>
    </tr>
    <tr>
        <td>F<sub>t</sub>, F<sub>m</sub>'</td>
        <td></td>
        <td></td>
        <td>Steady-state and maximum fluorescence intensity under each tested PAR level, respectively</td>
    </tr>
    <tr>
        <td>F<sub>m</sub>'<sub> (max)</sub></td>
        <td></td>
        <td></td>
        <td>Maximum fluorescence intensity through all tested PAR levels</td>
    </tr>
    <tr>
        <td colspan="4"><i>&nbsp</i></td>
    </tr>
    <tr>
        <td colspan="4"><i>Efficiencies, quantum yields and quenching</i></td>
    </tr>
    <tr>
        <td>Q<sub>y</sub></td>
        <td>(F<sub>m</sub>' - F<sub>t</sub>) / F<sub>m</sub>'</td>
        <td></td>
        <td>Effective quantum yield of electron transport through PSII</td>
    </tr>
    <tr>
        <td>rETR</td>
        <td>Q<sub>y</sub> * PAR</td>
        <td>µmol<sub>electrons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Relative electron transport rate; assuming that
            <a href="https://aquation.com.au/wp-content/uploads/2017/08/How-to-Analyse-a-Rapid-Light-Curve.pdf" target="blank">
                the value of photons absorptance by PSII is unknown</a></td>
    </tr>
    <tr>
        <td>qP</td>
        <td>(F<sub>m</sub>' - F<sub>t</sub>) / (F<sub>m</sub>' - F<sub>0</sub>)</td>
        <td></td>
        <td>Coefficient of photochemical quenching (flow of the captured light energy into photochemical reactions)</td>
    </tr>
    <tr>
        <td>qN</td>
        <td>(F<sub>m</sub>'<sub> (max)</sub> - F<sub>m</sub>') / (F<sub>m</sub>'<sub> (max)</sub> - F<sub>0</sub>)</td>
        <td></td>
        <td>Coefficient of non-photochemical quenching (flow of the captured light energy into heat)</td>
    </tr>
    <tr>
        <td>NPQ</td>
        <td>(F<sub>m</sub>'<sub> (max)</sub> - F<sub>m</sub>') / F<sub>m</sub>'</td>
        <td></td>
        <td>Non-photochemical quenching (flow of the captured light energy into heat)</td>
    </tr>
        <tr>
        <td colspan="4"><i>&nbsp</i></td>
    </tr>
    <tr>
        <td colspan="4"><i>Parameters based on the light curves fitting</i></td>
    </tr>
    <tr>
        <td>α</td>
        <td></td>
        <td>electrons photons<sup>-1</sup></td>
        <td>Initial slope of the light curve, related to quantum efficiency of photosynthesis</td>
    </tr>
    <tr>
        <td>β</td>
        <td></td>
        <td>electrons photons<sup>-1</sup></td>
        <td>Slope of the light curve under the highest intensities, related to photoinhibition</td>
    </tr>
    <tr>
        <td>ETR<sub>mPot</sub></td>
        <td></td>
        <td>µmol<sub>electrons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Potential maximum ETR without photoinhibition considered</td>
    </tr>
    <tr>
        <td>ETR<sub>max</sub></td>
        <td>ETR [α / (α + β)] [β / (α + β)]<sup>(β/α)</sup></td>
        <td>µmol<sub>electrons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Maximum electron transport rate</td>
    </tr>
    <tr>
        <td>I<sub>k</sub></td>
        <td>ETR<sub>max</sub> / α</td>
        <td>µmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Irradiance required to saturate ETR<sub>max</sub></td>
    </tr>
    <tr>
        <td>I<sub>b</sub></td>
        <td>ETR<sub>max</sub> / β</td>
        <td>µmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></td>
        <td>Irradiance required to photoinhibit ETR<sub>mPot</sub>, also known as photoinhibition index</td>
    </tr>
</table>
<br>
<b style="font-size:70%"><i>References:</i></b>
<br>
<p style="line-height: 0.9">
    <i style="font-size:70%">Ralph P., Gademann R. (2005):
        Aquatic Botany 82, 222–237, DOI: 
    <a href="https://doi.org/10.1016/j.aquabot.2005.02.006" target="_blank">10.1016/j.aquabot.2005.02.006</a></i>
    <br>
    <i style="font-size:70%">White A. J., Critchley C. (1999):
        Photosynthesis Research, 59, 63–72, DOI:
    <a href=" https://doi.org/10.1023/A:1006188004189" target="_blank">10.1023/A:1006188004189</a></i>
    <br>
    <i style="font-size:70%">Platt T., Gallegos C. L., Harrison W. G (1980):
        Journal of Marine Research, 38, 687-701:
    <a href="https://elischolar.library.yale.edu/journal_of_marine_research/1525" target="_blank">1525</a></i>
</p>
<br>
Accepted file formats include .txt files, as obtained by <i>AquaPen / FluorPen</i> fluorometers:
<br>
<div class="container">
    <div class="gallery_4">
        <a href="https://handheld.psi.cz/products/aquapen-c-and-aquapen-p/#info" target="_blank" class="gallery__img gallery__item--1">
            <i>AquaPen</i>
            <img src="static/images/aquapen.jpg" alt="Aquapen" class="gallery__img gallery__item--3">
            
        </a>
        <a href="https://handheld.psi.cz/products/fluorpen-and-par-fluorpen/#info" target="_blank" class="gallery__img gallery__item--2">
            <i>FluorPen</i>
            <img src="static/images/fluorpen.jpg" alt="FluorPen" class="gallery__img gallery__item--4">
        </a>
    </div>
</div>
<br>
<u>How to use this tool:</u>
<br>
<ol>
    <li>Select your fluorometer</li>
    <li>Select the measured ligth curves protocol</li>
    <li>Adjust parameters related to rapid light curves fitting (by the equation shown above)</li>
    <li>Upload and analyze light curve files (up to 50 files)</li>
    <li>Review the light curves and the calculated parameters</li>
    <li>Download the processed results in a summary .xlsx file</li>
</ol>
<br>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('light_curves_analysis.analyze_light_curves', _anchor='results') }}">
    <div class="form-group">
        <label for="fluorometer"><p class="font-weight-bold">{{ '1. Select fluorometer' }}</p></label>
            <select name="fluorometer" class="form-control"  aria-label="fluorometer" style="width:100%">
                <option selected="Aquapen">AquaPen / FluorPen (Photon Systems Instruments spol. s r.o.)</option>
            </select>
    </div>
    <br>
    <label class="form-label"><p class="font-weight-bold">2. Select light curves protocol (Aquapen)</p></label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="checkbox_LC" id="checkbox_LC1" value="checkbox_LC1">
        <label class="form-check-label" for="checkbox_LC">
            <i> &nbspLight curve 1: <font size="2">Number of phases: <b>6</b>, Duration of each phase: <b>60 s</b>, Light intensities: <b>10; 20; 50; 100; 300; 500 μmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></font></b></i>
        </label>
        <br>
        <input class="form-check-input" type="radio" name="checkbox_LC" id="checkbox_LC2" value="checkbox_LC2">
        <label class="form-check-label" for="checkbox_LC"></label>
            <i>Light curve 2: <font size="2">Number of phases: <b>5</b>, Duration of each phase: <b>30 s</b>, light intensities: <b>100; 200; 300; 500; 1000 μmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></font></i></b>
        </label>
        <br>
        <input class="form-check-input" type="radio" name="checkbox_LC" id="checkbox_LC3" value="checkbox_LC3" checked>
        <label class="form-check-label" for="checkbox_LC"></label>
            <i>Light curve 3: <font size="2">Number of phases: <b>7</b>, Duration of each phase: <b>60 s</b>, light intensities: <b>10; 20; 50; 100; 300; 500; 1000 μmol<sub>photons</sub> m<sup>-2</sup> s<sup>-1</sup></font></i></b>
        </label>
    </div>
    <br>
    <br>
    <p><b>3. Adjust additional parameters</b></p>
    <div class="gallery_sliders_cell_count">
        <span STYLE="font-size:9.5pt">1</span>
        <div class="slidecontainer">
            <input type="range" 
                    min="1" max="100" 
                    value="10" 
                    class="slider" 
                    name="ETR_max_multiplication_factor_range"
                    id="ETR_max_multiplication_factor_range"/>
        </div>
        <span STYLE="font-size:9.5pt">100</span>
        <a>ETR<sub>max factor</sub>: <b><span id="ETR_max_multiplication_factor"></span></b>. The factor defines upper <i>ETR<sub>mPot</sub></i> limit as: <i>ETR<sub>mPot</sub> = ETR<sub>max measured</sub> * ETR<sub>max factor</sub></i></a>
    </div>
    <p class="font-weight-bold">4. Select files</p>
    <div class="custom-file">
        <input 
            type="file" 
            class="custom-file-input" 
            type="file"
            name="light_curve_files"
            id="light_curve_files"
            multiple=""
            accept=".csv, .CSV, .txt, .ASCII"
            style="width:100%">
        <label class="custom-file-label" for="customFile">Select files</label>
    </div>
    <br> <br>
    <button id="show-image-button" type="submit" class="btn btn-primary">Upload and analyze light curves</button>
    <a href="{{url_for('static', filename='files/Light_curve_3_example_files.zip')}}" download="Light_curve_3_example_files">
        <button type="button" class="btn btn-outline-primary" >Download example light curve files</button>
    </a>
</form>
<br>
<div class="container">
    <img id="loadingimage" src="{{url_for('static', filename='images/loadingimage.gif')}}" style="display: none;">
</div>

{% if plot_from_memory %}
    <section id="results"></section>   
    <br> <br>
    <h6><b>Light curves: </b></h6>
    <img data-enlargeable width="50%" style="cursor: zoom-in" src="data:image/jpeg;base64,{{ plot_from_memory }}"/>
    <br> <br>

    <h6><b>Calculated parameters: </b></h6>
    <img data-enlargeable width="50%" style="cursor: zoom-in" src="data:image/jpeg;base64,{{ parameters_from_memory }}"/>
    <br> <br>

    <form>
        <h6><b>Download results:</b></h6>
        <ol>
            <li>Plots (as shown above)</li>
            <li>Raw fluorescence signals</li>
            <li>Technical parameters (F<sub>t</sub>, F<sub>m</sub>') </li>
            <li>Calculated parameters (qP, NPQ, Q<sub>y</sub>, ETR<sub>measured</sub>)</li>
            <li>Parameters based on the light curves fitting (ETR<sub>fitted</sub>, α, β, I<sub>k</sub>, I<sub>b</sub>, ETR<sub>max</sub>, ETR<sub>mPot</sub>)</li>
        </ol>
        <a href="{{ url_for('static', filename=xlsx_file_path)}}">
            <button type="button" class="btn btn-primary">Download the summary .xlsx file</button>
        </a>

    </form>

{% elif raw_data_from_memory %}
    <section id="exactlocation"></section>   
    <br> <br>
    <div class="alert alert-danger fade show" role="alert">
        <strong>Some light curves contain either zero or oversaturated fluorescence signal. Please inspect the measured data and select only rapid light curves suitable for fitting.</strong>
    </div>
    <br>     
    <h6><b>Raw fluorescence signals: </b></h6>
    <img data-enlargeable width="50%" style="cursor: zoom-in" src="data:image/jpeg;base64,{{ raw_data_from_memory }}"/>

{% else %}
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>

{% endif %}
<br><br><br><br><br><br><br>

<script src="{{url_for('static', filename='js_light_curves.js')}}"></script>

{% endblock %}