{% extends "base.html" %}

{% block title %} 
    Login
{% endblock %}

{% block content %}
    <br>
    <form method="POST">
        <h3 allign="center">Welcome to the cell counting app! </h3>
        <br>
        <p>For the best user experience, it is recommended to use Chrome or Edge browser.</p>
        <p>To proceed, please login. If you are a new visitor, please <a href="{{ url_for('auth.sign_up') }}">create an account</a></p>
        <br>
        <div class="form-group">
            <label for="email">Email address</label>
            <input  
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
        />
        <div class="form-group">
            <label for="password">Password</label>
            <input  
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
        />
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

<footer id="footer_absolute">
    <br>Copyright © 
    <a href="mailto:zavrel.t@czechglobe.cz">zavrel.t@czechglobe.cz</a>
</footer>
{% endblock %}

