{% extends "base.html" %} 

{% block title %} 
    MIMS data analysis
{% endblock %}

{% block content %}
<!-- Banner -->
<div id="banner-content">
    <div class="banner-desktop"><!-- Desktop banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_1.jpg') }}"
             alt="CyanoTools analytical tools for algae and cyanobacteria"
             style="width: 100%;">
    </div>
    <div class="banner-mobile"><!-- Mobile banner -->
        <img src="{{ url_for('static', filename='images/homepage_upper_banner_2.jpg') }}"
             alt="CyanoTools mobile banner"
             style="width: 100%;">
    </div>
</div>
<br>
<h1>Membrane Inlet Mass Spectrometry (MIMS)</h1>
<p>Welcome to the tool for analysis of Membrane Inlet Mass Spectrometry (MIMS) data.
MIMS is a highly effective and versatile analytical technique designed for the direct, 
real-time measurement of dissolved gases and volatile organic compounds in a wide variety of samples, 
including water, biological matrices, and atmospheric gases. 
<br>
Central to MIMS is a semi-permeable membrane that acts as an interface, enabling selective passage of analytes from the sample into the mass spectrometer, 
while excluding most of the sample matrix. This configuration allows MIMS to provide continuous, online monitoring with minimal or no sample preparation, 
making it particularly valuable for sensitive and rapid analysis in both research and industrial contexts.
</p>
<br>
<section>
  <h4 style="text-align: left;">Key MIMS advantages</h4>
  <br>
  <ul>
    <li>
      <strong>Direct, Real-Time Monitoring:</strong> 
      MIMS enables immediate measurement of dissolved gases, 
      making it ideal for tracking fast-changing biological processes such as 
      photosynthesis and respiration in iquid cultures of algae and cyanobacteria without delays caused by sample preparation.
    </li>
    <li>
      <strong>High Sensitivity for Trace Gases:</strong> 
      The technique detects gases at sub-parts-per-billion levels, 
      allowing precise analysis of low-concentration metabolic gases like O<sub>2</sub>, CO<sub>2</sub>, CH<sub>4</sub> or other gasses
      that are critical for understanding the physiology and productivity of cyanobacteria and algal cultures.
    </li>
    <li>
      <strong>Broad Applicability to Diverse Biological Samples:</strong> 
      MIMS supports analysis across a wide range of sample types common in algal and cyanobacterial research, 
      including aqueous cultures, biofilms, and sediments, facilitating studies on nutrient cycling, gas exchange, and environmental stress responses.
    </li>
    <li>
      <strong>Continuous and Automated Data Acquisition:</strong> 
      The continuous measurement capability is perfect for long-term monitoring of dynamic processes like diel cycles and metabolic shifts in cyanobacteria
       and algal populations, supporting high-throughput data analysis via integrated tools on the e-cyanobacterium.org platform.
    </li>
    <li>
      <strong>Minimal Sample Preparation and Interference:</strong> 
      MIMS’s membrane inlet design reduces matrix effects and excludes interfering substances from complex biological media, 
      enhancing data reliability and simplifying workflows for researchers using the online analysis tools provided.
    </li>
  </ul>
</section>
<br>
<p>This tool is designed to analyze data generated by the following MIMS models:
<div class="container">
    <div class="gallery_6_img">
        <a href="https://www.hidenanalytical.com/products/gas-analysis/hpr-40-dsa/" target="_blank" class="gallery__item--1">
            <i style="font-size:80%">Hiden HPR-40</i>
            <img src="static/images/HPR40.jpg" alt="HPR40" class="gallery__item--1">
        </a>
        <a href="https://mims.psi.cz/products/mass-spectrometer-ms-gas/" target="_blank" class="gallery__item--2">
          <i style="font-size:80%">MS GAS</i>
          <img src="static/images/MS100.jpg" alt="HPR40" class="gallery__item--2">
        </a>
    </div>
</div>
</p>
<br>
<u>How to use this tool:</u>
<br>
<ol>
    <li>Select MIMS model</li>
    <li>Upload MIMS file and preview the data</li>
    <li>Select a signal for normalization and drift correction (typically Ar or N signals)</li>
    <li>Normalize the signals and preview the normalized data</li>
</ol>
<br>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('MIMS_data_analysis.analyze_MIMS_data', _anchor='results') }}">
    <div class="container">
        <div class="form-group">    
            <p><b>1. Select MIMS model</b><p>
            <select name="MIMS_model" class="form-control"  aria-label="MIMS_model">
                <option selected="HPR40">HPR40 (Hiden Analytical)</option>
                <option selected="MSGAS">MS GAS (Photon System Instruments)</option>
            </select>
        </div>
        <br>
        <p class="font-weight-bold">2. Select the MIMS file</p>
        <div class="custom-file">
            <input 
                type="file" 
                class="custom-file-input"  
                name="MIMS_file"
                id="MIMS_file"
                accept=".csv, .CSV, .asc, .ASC"
                style="width:100%">
            <label class="custom-file-label" for="MIMS_file">Select files</label>
        </div>
        <div id="mims-error-alert" class="mt-3"></div>
        <br><br>

        <button id="show-image-button" type="submit" class="btn btn-primary">Preview the MIMS file</button>
        <a href="{{url_for('static', filename='files/MIMS_example_file.csv')}}" download="MIMS_example_file">
            <button type="button" class="btn btn-outline-primary">Download example MIMS file</button>
        </a>
    </div>
</form>
<br>
<p id="preview-label" class="font-weight-bold" style="display: none;">3. Preview the measured signals</p>
<!-- Plot container for raw data -->
<div id="raw-container" class="background-box-plot">
  <div id="raw-plot-div" style="height: 400px;"></div>
</div>
<br>
<!-- Normalization controls -->
<div id="normalization-controls" style="display:none; margin-top:20px;">
    <p class="font-weight-bold">4. Normalize the signals</p>
  <label for="normalize-by-select">Select a signal by which all signal will be normalized:</label>
  <select id="normalize-by-select" class="form-control" style="max-width:300px;"></select>
  <br>
  <button id="normalize-button" class="btn btn-primary">Plot normalized data</button>
</div>
<br>
<p id="normalized-preview-label" class="font-weight-bold" style="display: none;">5. Preview the normalized signals</p>
<!-- Plot container for normalized data -->
<div id="normalized-container" class="background-box-plot">
  <div id="normalized-plot-div" style="height: 400px;"></div>
</div>
<br>
<!-- Calibration section -->
<div id="calibration-section" style="display: none; margin-top: 40px;">
    <p class="font-weight-bold">6. Calibrate signals</p>
    <div class="form-group">
    <div class="label-select-inline">
      <label for="calibration-mode">Choose data to calibrate:</label>
      <select id="calibration-mode" class="form-control" style="max-width: 300px;">
        <option value="raw">Raw signals</option>
        <option value="normalized">Normalized signals</option>
      </select>
    </div>
    <div style="line-height:10px;">
      <br>
    </div>
    <div class="label-select-inline">
      <label for="calibration-units">Select calibration units:&nbsp&nbsp&nbsp</label>
      <select id="calibration-units" class="form-control" style="max-width: 300px;">
        <option value="nmol/L">nmol/L</option>
        <option value="µmol/L">µmol/L</option>
        <option value="mmol/L">mmol/L</option>
        <option value="mol/L">mol/L</option>
        <option value="nmol">nmol</option>
        <option value="µmol">µmol</option>
        <option value="mmol">mmol</option>
        <option value="mol">mol</option>
      </select>
    </div>
  </div>
  <br>
  <button id="add-calibration-button" class="btn btn-primary">Add gas for calibration</button>
  <br>
  <div id="calibration-inputs-container">
  <br>
    <!-- Dynamic gas calibration forms will be injected here by JS -->
  </div>


</div>
<br><br><br><br><br>

<script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.30.1.min.js"></script>
<script src="{{url_for('static', filename='js_MIMS.js')}}"></script>


{% endblock %}