{% extends "base.html" %} 

{% block title %} 
    OJIP data analysis
{% endblock %}

{% block content %}
<h1> P700 re-reduction kinetics analysis </h1>
<br>
<p>Welcome to the app for analzing P700 kinetics data! 
<br>
<p>This site is under construction</p>
<img src="static/images/under_construction.jpg" class="center-fit" width="20%">

<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>

<footer id="footer_relative">
    <br>Copyright © 
    <a href="mailto:zavrel.t@czechglobe.cz">zavrel.t@czechglobe.cz</a>
</footer>

{% endblock %}