{% extends "base.html" %} 

{% block title %} 
    Pixel profiles
{% endblock %}

{% block content %}
<h1> Pixel profiles</h1>
<br>
<p>Welcome to the app for getting pixel profiles of cells on your image! 
<br>
To count cells on your fluorescence microscopy image, please follow the instructions below:</p>
<ol>
    <li>Select your image</li>
    <li>Select cells on your image for the pixel profile analysis</li>
        <ul>Select expected cell size</ul>
        <ul>Select the cells</ul>
        <ul>Confirm selection</ul>
    <li>Analyse intensity of pixels across the cellular profiles</li>
</ol> 
<form method="POST" enctype="multipart/form-data" action="{{ url_for('pixel_profiles.get_pixel_profiles') }}">
    <label class="form-label" for="customFile"><p class="font-weight-bold">1. Select your image</p></label>
    <input class="form-control" type="file" name="image">
    <br>
    <button type="submit" class="btn btn-primary">Upload image and select individual cells</button>
    <a href="{{url_for('static', filename='images/pixel_profiles_example.jpg')}}" download="example_image">
        <button type="button" class="btn btn-light">Download an example image</button>
    </a>
</form>
<br>

{% if img_orig_decoded_from_memory %}
    <br>
    <p class="font-weight-bold">{{ '2. Select expected cell size (in pixels, dynamically)' }}</p>
    <div class="container">
        <div class="gallery_sliders_pixel_profile">
            <span STYLE="font-size:9.5pt">1</span>
            <div class="slidecontainer">
                <input type="range" 
                min="1" max="250" 
                value="50"
                step="1"  
                class="slider" 
                name="expected_cell_size_range"
                id="expected_cell_size_range"/>
            </div>
            <span STYLE="font-size:9.5pt">250</span>
            <p>Selected cell diameter (px): <span id="expected_cell_size"></span></p>
        </div>
    </div>
    <br>
    <p class="font-weight-bold">{{ '3. Select the cells' }}</p>
    <div class="imgbox" id="imgbox">
            <div class="insideWrapper">
                <img src="data:image/jpeg;base64,{{ img_orig_decoded_from_memory }}" class="center-fit" id="img_orig_decoded_from_memory">
                <canvas class="coveringCanvas" id="canvas_mouse_clicking">
                </canvas>
            </div>
    </div>
    <!-- 
    <p>Resolution of original image is {{ x_pixels }} x {{ y_pixels }} pixels. <a id="box_width"></a> </p>
    -->
    <br>
    <label class="form-label" for="customFile"><p class="font-weight-bold">4. Confirm cells selection</p></label>
    <p>In case the cells need to be selected again, simply repeat the selection process.</p>
    <a href="{{ url_for('pixel_profiles.get_pixel_profiles') }}">
        <button onClick="window.location.reload(true); return false;" type="submit" class="btn btn-primary">Confirm selection</button>
    </a>
    <br>
    <br>
    <label class="form-label" for="customFile"><p class="font-weight-bold">5. Analyze the pixel profiles</p></label>
    <br>
    <button type="submit" class="btn btn-primary">Analyze profiles </button>
    <br>

    <div class="imgbox">
        <img src="data:image/jpeg;base64,{{ img_for_download_decoded_from_memory }}" class="center-fit">
    </div>
{% endif %}


<script src="{{url_for('static', filename='js_pixel_profies.js')}}"></script>




{% endblock %}