{% extends "base.html" %} 

{% block title %} 
    User section
{% endblock %}

{% block content %}
<h1>User section</h1>
<br>
<p>This is a section for user settings. It will include the following features:
    <ul>
        <li>show user information</li>
        <li>indicate whether to receive news on the latest tools</li>
        <li>unsubscribe</li>
    </ul>
</p>
<p>This site is under construction</p>
<img src="static/images/under_construction.jpg" class="center-fit" width="20%">

<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}